.navbar {
    opacity: 0.90;
}

#TKLogo{
  width: 13rem;
}

li{
  margin-top: 0;
}

.iconos{
    display: flex;
    margin: 5px 0px; 
    color:white; 
    size: 10px;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width:577px) {
  .iconosFontAwesome {
    display: none;
  }
  li span{
    display: flex;
    margin: 10px 3rem; 
    align-items: end;
    color:white; 
    size: 10px;
    text-align: center;
    text-decoration: none;
  }
}

@media only screen and (min-width:320px) and (max-width:576px) {
  #cars, #loan {
    display: none;
  }
  .iconos {
    display: inline-block;
    justify-content: space-around;
  }
  li {
    margin-top: 2rem;
  }
}


.btn-login{
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  background-color: transparent;
  margin-top: 5px;
  margin-right: 0.55em;
  border-style: none;
}

.btn-login:hover{
  background-color:bisque;
  border-radius: 10%;
}

.container-fluid {
  align-items: center;
}